body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #222;
}

header {
  background: #72353a;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}




.logo-title {
    display: flex;             /* Puts logo and text side by side */
    align-items: center;       /* Align vertical center */
    gap: px;                 /* Space between logo and text */
}

.logo-title img {
    width: 60px;               /* Adjust logo size if needed */
}


.logo-title img {
  display: flex; 
  align-items: center; 
  width: 60px;
  margin-right: 10px;
}

nav {
  background: #000000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav a {
  color: rgb(255, 255, 255);
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

nav a:hover, .active {
  background: #777474;
  
  font-weight: bold;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.news {
  width: 70%;
}

article img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  margin: 10px 0;
}

aside {
  width: 25%;
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
}

aside h3 {
  background: #000000;
  
  color: white;
  padding: 8px;
  text-align: center;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li {
  margin: 8px 0;
}

aside ul li a {
  text-decoration: none;
  color: #004080;
}

.highlight {
  margin-top: 15px;
  background: #f0f0f0;
  padding: 10px;
}

.ad {
  text-align: center;
  margin-top: 20px;
}

footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 15px 0;
}

footer a {
  color: lightblue;
  text-decoration: none;
}

.back-to-top {
  display: block;
  margin-top: 10px;
  color: #ffffff;
}